.container {
  padding: 0 2rem;
}

.nav {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
}

.ul > li > h1 {
  margin: 0;
  color: maroon;
  font-size: 50px;
}

.ul > li:hover {
  color: coral;
}
